<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>TIVCPSerial</string>
	<key>CFBundleGetInfoString</key>
	<string>1.2.1</string>
	<key>CFBundleIdentifier</key>
	<string>com.ti.driver.TIVCPSerial</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TIVCPSerial</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.2.1</string>
	<key>IOKitPersonalities</key>
	<dict>
        <key>MSP-FET430UIF</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>com.ti.driver.TIVCPSerial</string>
            <key>IOClass</key>
            <string>TIUMPSerial</string>
            <key>IOProviderClass</key>
            <string>IOUSBDevice</string>
            <key>IOTTYBaseName</key>
            <string>MSP-FET430UIF</string>
            <key>TIUMPChipset</key>
            <string>3410</string>
            <key>bcdDevice</key>
            <integer>257</integer>
            <key>idProduct</key>
            <integer>62512</integer>
            <key>idVendor</key>
            <integer>1105</integer>
        </dict>
		<key>TIVCP3410</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.ti.driver.TIVCPSerial</string>
			<key>IOClass</key>
			<string>TIUMPSerial</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOTTYBaseName</key>
			<string>TIVCP3410</string>
			<key>TIUMPChipset</key>
			<string>3410</string>
			<key>bcdDevice</key>
			<integer>276</integer>
			<key>idProduct</key>
			<integer>13328</integer>
			<key>idVendor</key>
			<integer>1105</integer>
		</dict>
		<key>TIVCP3410Merge</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>New Interface Detected Action</key>
				<string>None</string>
			</dict>
			<key>idProduct</key>
			<integer>13328</integer>
			<key>idVendor</key>
			<integer>1105</integer>
		</dict>
		<key>TIVCP3410Boot</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.ti.driver.TIVCPSerial</string>
			<key>IOClass</key>
			<string>TIUMPSerial</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOTTYBaseName</key>
			<string>TIVCP3410</string>
			<key>TIUMPChipset</key>
			<string>3410</string>
			<key>bcdDevice</key>
			<integer>256</integer>
			<key>idProduct</key>
			<integer>13328</integer>
			<key>idVendor</key>
			<integer>1105</integer>
		</dict>
		<key>TIVCP5052</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.ti.driver.TIVCPSerial</string>
			<key>IOClass</key>
			<string>TIUMPSerial</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOTTYBaseName</key>
			<string>TIVCP5052</string>
			<key>TIUMPChipset</key>
			<string>5052</string>
			<key>bConfigurationValue</key>
			<integer>2</integer>
			<key>bcdDevice</key>
			<integer>276</integer>
			<key>idProduct</key>
			<integer>20575</integer>
			<key>idVendor</key>
			<integer>1105</integer>
		</dict>
		<key>TIVCP5052Merge</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>New Interface Detected Action</key>
				<string>None</string>
			</dict>
			<key>idProduct</key>
			<integer>20575</integer>
			<key>idVendor</key>
			<integer>1105</integer>
		</dict>
		<key>TIVCP5052Boot</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.ti.driver.TIVCPSerial</string>
			<key>IOClass</key>
			<string>TIUMPSerial</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>TIUMPChipset</key>
			<string>5052</string>
			<key>bcdDevice</key>
			<integer>256</integer>
			<key>idProduct</key>
			<integer>20818</integer>
			<key>idVendor</key>
			<integer>1105</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOSerialFamily</key>
		<string>1.0.4</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.8</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
	</dict>
</dict>
</plist>
